$utilities: map-merge(
    $utilities,
    (
    "font-size":
    map-merge(
        map-get($utilities, "font-size"),
        (
        responsive: true,
        )
    ),
    )
);
$utilities: map-merge(
    $utilities,
    (
    "rounded":
    map-merge(
        map-get($utilities, "rounded"),
        (
        responsive: true,
        )
    ),
    )
);
$utilities: map-merge(
    $utilities,
    (
    "width":
    map-merge(
        map-get($utilities, "width"),
        (
        responsive: true,
        )
    ),
    )
);

