<div class="mx-auto p-6 py-md-7 px-md-11 bg-neutral-600 w-100" style="max-width: 1920px; font-weight: 200;">
    <div class="d-flex flex-column-reverse flex-md-row">
        <div class="d-flex flex-column align-items-center mb-7 pe-md-7">
            <img class="w-footer-logo mb-3" src="../assets/images/brand-image-logo/logo中英組合03.png" alt="logo中英組合03">
            <div class="d-flex">
                <a class="me-3" href="#">
                    <img src="../assets/images/icon/google-play.png" alt="google">
                </a>
                <a href="#">
                    <img src="../assets/images/icon/apple-store.png" alt="apple-store">
                </a>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row w-100 justify-content-between ps-md-7">
            <div class="d-flex mb-7 pe-md-4 w-100">
                <ul class="list-unstyled w-50 pe-3 pe-md-4">
                    <li class="fs-3 text-neutral-0 mb-3 fw-medium">關於我們</li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">品牌故事</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">合作接洽</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">加入我們</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">隱私權聲明</a></li>
                </ul>
                <ul class="list-unstyled w-50 ps-3 ps-md-4">
                    <li class="fs-3 text-neutral-0 mb-3 fw-medium">新手專區</li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">飲食計算機</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">專欄文章</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">免運狗狗新手包</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">免運貓貓新手包</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">免運鼠/兔/鳥新手包</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">最新活動優惠</a></li>
                </ul>
            </div>
            <div class="d-flex mb-5 ps-md-4 w-100">
                <ul class="list-unstyled w-50 pe-3 pe-md-4">
                    <li class="fs-3 text-neutral-0 mb-3 fw-medium">購物須知</li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">購物結帳問題</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">訂單相關問題</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">退換貨說明</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">會員訂閱制度說明</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">政策與條款</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">客服信箱</a></li>
                </ul>
                <ul class="list-unstyled w-50 ps-3 ps-md-4">
                    <li class="fs-3 text-neutral-0 mb-3 fw-medium">相關連結</li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">檢疫證明文件</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">專欄文章</a></li>
                    <li class="fs-2 text-neutral-0 mb-2"><a href="#">農委會政令宣導</a></li>
                    <li class="fs-2 text-neutral-0 "><a href="#">活動贊助申請</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row pt-3 border-top border-neutral-400 align-items-center">
        <p class="text-neutral-0 fs-1">Copyright © 2024 Pawsome. All rights reserved.</p>
        <p class="text-neutral-0 fs-1"><span class="d-none d-md-inline">‧</span>隱私權政策‧使用者條款</p>
    </div>
</div>