.hover-pair{
    background: white;
    border: 1px solid #EC5501;
    color: #EC5501;
    &:hover{
        background: #EC5501;
        color: white;
    }
}
.pair-infor{
    padding: 24px 0 24px 0;
    border: 4px solid #EC5501;
}
.collapsed{
    span{
        transform: rotate(180deg);
    }
}
.modal-body{
    &::-webkit-scrollbar{display:none;}
    .swiper {
      width: 343px;
      height: 288px;
      margin-left: auto;
      margin-right: auto;
      @include lg{
        width: 100%;
        height: 100%;
      }
    }
    
    .thumbs-Swiper-3 .swiper-slide{
      width: 240px;
      height: 240px;
      margin-left: auto;
      margin-right: auto;
      @include lg{
        width: 100%;
        height: 100%;
        max-width: 460px;
        max-height: 460px;
      }
    }
  
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    
    .thumbs-Swiper-3 {
      margin-bottom: 8px;
      width: 100%;
    }
    
    .thumbs-Swiper-4 {
      
      width: 240px;
      box-sizing: border-box;
      @include lg{
        width: 308px;
        overflow-x: hidden;
      }
    }
    .thumbs-Swiper-4 .swiper-slide {
      width: 40px ;
      height: 40px;
      border: 1px solid #BBBBBB;
      opacity: 0.4;
      border-radius: 8px;
      @include lg{
        width:88px;
        height: 88px;
        margin-left: 0;
      }
    }
    
    .thumbs-Swiper-4 .swiper-slide-thumb-active {
      opacity: 1;
      border: 1px solid #EC5501;
    }
    
    .swiper-slide img {
      display: block;
      max-width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .modal-btn{
      padding: 4px 12px 4px 12px;
      min-height: 44px;
      border: 1px solid #BBBBBB;
      font-weight: 500;
      font-size: 14px;
      border-radius: 8px;
      cursor: pointer;
      @include md{
        font-size: 16px;
      }
    }
    .modal-btn-1{
      padding: 4px 12px 4px 12px;
      min-height: 44px;
      border: 1px solid #BBBBBB;
      font-weight: 500;
      font-size: 14px;
      border-radius: 8px;
      cursor: pointer;
    }
    .btn-check:checked + .modal-btn, :not(.btn-check) + .modal-btn:active, .modal-btn:first-child:active, .modal-btn.active, .modal-btn.show{
      border: 2.5px solid #EC5501;
      color: #EC5501;
    }
  }